body{
    background-color: #1b1b32;
    color: white;
    text-align: center;
    font-family: "Roboto", sans-serif;
    margin: 0px;
}
form{
    max-width: 500px;
    margin: auto;
    text-align: left;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
}
.input-element{
    margin: 10px;
    display:flex;
    flex-direction: column;
}
select{
    padding: 5px;
    border:none;
    border-radius: 5px;
}
input{
    padding: 5px;
    border:none;
    border-radius: 5px;
}
button{
    padding: 5px 50px;
   border-radius: 50%;
   color:green;
   background-color:black
}
textarea{
    height: 50px;
}

